
     .header{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-gap: 10px;
    height: 600px;
    z-index: -1;
    


    
    /* justify-content: center; */
    /* justify-content: center;
    align-items: center;
    padding-top: 260px;
    gap: 35px;
     */
     /* align-items: center;
     min-height: 100vh;
     flex-wrap: wrap; */
    }
   
    
    .Header-main{
      position: relative;
      z-index: 1;
        display: flex;
        justify-content:center;
        align-items: center; 
        text-align: center;
        width: 80%;
        font-size: 26px;
        line-height: 40px;
        color: #219EBC;
        margin-left: 5rem;
        margin-top: 9rem;
        padding: 14px;
        border-radius: 1rem;
        transition: all 0.8 ease-in-out;
    }
    .image-1{
      position:absolute;
      z-index: -1;
      display:grid;
      grid-template-columns: 7fr 1fr;
      margin-bottom: 5rem;
      margin-right: 2rem;
      transform: rotateZ(-8deg);
      transition: all 0.8s ease-in-out;
    }
  
    .image-2{
      position:absolute;
      z-index: -1;
      display:grid;
      grid-template-columns: 7fr 1fr;
      margin-top: 13rem;
      /* margin-right: 1rem; */
      transform: rotateZ(2deg);
      transition: all 0.8s ease-in-out;
    }
  
    
    
    .Header-main h1  {
        /* font-size: 60px; */
        color: #219EBC;
        margin-top: 3rem;
        line-height: 42px;
        border: 2px dotted #219EBC;
        padding: 50px 80px;
        border-radius: 1rem;
      }
      .Header-main p{
        font-size: 20px;
        line-height: 40px;
      }
      .Header-main em{
        color: #6A5ACD;
        font-size: 68px;
      }
      .Header-main strong{
        color: #FB8500;
        font-size: 80px;
        
      }
      .Header-main span{
        color: #8ECAE6;
        font-size: 72px;
       
      }
  
    
    /* .Header-main em{
        font-size: 30px;
    } */

    .scroll {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        /* width: 80px; */
        margin-top: 25rem;
        margin-left: 4rem;
        /* margin-left: 3rem; */
        /* margin-left: 80px; */
        /* transform: rotate(-90deg); */
       
     
    }
    .scroll a{
        border: 2px dotted #219EBC;
        padding: 10px 10px;
        border-radius: 1rem;
        transition: all 0.6s ease-in;
        border-radius: 1rem;
        cursor: pointer;
        color: #6A5ACD;
    }
    .scroll a:hover{
        color: #FB8500;
        margin-top: 1rem;
        transition: all 0.6 ease-in;
    }

    .hr{
        color: #219EBC;
    }
    .icons{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 300px;
        margin-left: 4rem;
        gap: 30px;
        color: #8ECAE6;
    
    }

    .icons a{
        border: 2px dotted #219EBC;
        padding:10px 14px;
        border-radius: 1rem;
        height: 60px;
        width: 60px;
        
       
    }
    .icons a:hover{
       color: #FB8500;
       transform: scale(1.20);
       transition: all 0.8s ease-in-out;
    }
    

    .services{
        display: flex;
        flex-direction: row;
        justify-content: center;
        grid-column: 2 / 3;
        margin-top: 4rem;
        gap: 20px;
    }
    .services p{
        font-size: 22px;
        border-bottom: 1px dotted #219EBC;
        border-top: 1px dotted #219EBC;
        border-radius: 1rem;
        padding: 10px 12px;
        transition: all 0.8s ease-in-out;
        background: black;
    }
    .services span{
      display: flex;
      justify-content: center;
      font-size: 22px;
      border-bottom: 1px dotted #219EBC;
      border-top: 1px dotted #219EBC;
      border-radius: 1rem;
      padding: 10px 12px;
      color: #8ECAE6;
      background: black;
    }

    .services strong{
      margin-left: 6px;
      font-size: 22px;
    }
    .services span:hover{
      color: #6A5ACD;
      transform: scale(1.00);
      transition: all 0.8s ease-in-out;
      padding:12px;
      border-left: 1px dotted #6A5ACD;
      border-right: 1px dotted #6A5ACD;
      border-bottom: 1px dotted black;
      border-top: 1px dotted black;
  }
    
    .services p:hover{
        color: #FB8500;
        transform: scale(1.00);
        transition: all 0.8s ease-in-out;
        padding:12px;
        border-left: 1px dotted #FB8500;
        border-right: 1px dotted #FB8500;
        border-bottom: 1px dotted black;
        border-top: 1px dotted black;
    }

    .top {
     display: grid;
      position: fixed;
      align-items: center;
       margin-left: 8rem;
       margin-top: 32rem;
       font-size: 25px;
       color: #6A5ACD;
       border: 1px dotted;
    }

    @media (max-width:1050px){

      .image-1{
        grid-template-columns: 6fr 1fr;
        margin-bottom: 5rem;
      }
    
      .image-2{
        grid-template-columns: 6fr 1fr;
        margin-top: 15rem;
      }

      .Header-main h1{
        margin-right: 1rem;
      
      }
      .icons{
        margin-left: 2rem;
    }
    .Header-main p{
      font-size: 22px;
      line-height: 40px;
    }
    .Header-main em{
      color: #6A5ACD;
      font-size: 68px;
    }
    .Header-main strong{
      color: #FB8500;
      font-size: 80px;
      
    }
    .Header-main span{
      color: #8ECAE6;
      font-size: 72px;
     
    }
    }
    .top {
        margin-left: 4.75rem;
        margin-top: 32rem;
       
     }

    @media (max-width: 900px){
      .image-1{
        grid-template-columns: 5.5fr 1fr;
        margin-bottom: 5rem;
       
      }
    
      .image-2{
        grid-template-columns: 5fr 1fr;
        margin-top: 19rem;
      }
      .icons{
        margin-left: 1rem;
      }
      .Header-main h1  {
        padding: 50px 40px;
      }
     
      .top {
        
        margin-left: 3rem;
        margin-top: 32rem;
       
     }
    }
    @media (max-width: 840px){
      .image-1{
        grid-template-columns: 5fr 1fr;
        margin-bottom: 9rem;
        margin-right: 1rem;
        padding-bottom: 6px;
        height: 200px;
       
      }
    
      .image-2{
        grid-template-columns: 5fr 1fr;
        margin-top: 19rem;
        height: 10px;
      }
      .icons{
        margin-left: 1rem;
      }
       .Header-main{
            width: 70%;      
            padding: 20px 1%;
        }
      .Header-main h1  {
        padding: 30px 10px;
      }
    }
   
    @media (max-width: 768px) {
        .Header-main{
            width: 70%;      
            padding: 20px 20px;
        }
        .image-1{
          grid-template-columns: 5fr 1.2fr;
          margin-bottom: 9rem;
          margin-right: 1rem;
          padding-bottom: 8px;
          height: 220px;
         
        }
      
        .image-2{
          grid-template-columns: 4fr 1.2fr;
          margin-top: 19rem;
          height: 16px;
        }

      
        .Header-main h1  {
            
            padding: 30px 30px;
          }
         
          .Header-main p{
            font-size: 18px;
            line-height: 40px;
          }
          .Header-main em{
            color: #6A5ACD;
            font-size: 48px;
          }
          .Header-main strong{
            color: #FB8500;
            font-size: 60px;
            
          }
          .Header-main span{
            color: #8ECAE6;
            font-size: 52px;
           
          }
          /* .icons a{
            margin-right: 2rem;
            padding:10px 14px;
            border-radius: 1rem;
            height: 50px;
            width: 50px;
          } */
          
          /* .icons{
            display: none;
          } */
          .scroll a{
            margin-left: 1px;
          }
          .top {
        
            margin-left: 2rem;
            margin-top: 32rem;
           
         }
         .services span{
          margin-top: 1rem;
         
        }
    }

    @media (max-width: 500px) {
      

      .Header-main{
        width: 58%;      
        padding: 1px;
      }
      .Header-main h1 {
       margin-top: 6rem;
        padding: 10px 6px;
      }

     
      .Header-main p{
        font-size: 18px;
        line-height: 40px;
      }
      .Header-main em{
        color: #6A5ACD;
        font-size: 44px;
      }
      .Header-main strong{
        color: #FB8500;
        font-size: 46px;
        
      }
      .Header-main span{
        color: #8ECAE6;
        font-size: 46px;
       
      }
      .icons{
        padding: 1px;
        margin-bottom: 3rem;
      
      }
      .scroll{
        display: none;
      }
      .services{
        grid-column: 1 / 3;
        margin-top: 2rem;
        margin-left: 1rem;
    }
      .services p{
        font-size: 20px;
        border-bottom: 1px dotted #219EBC;
        border-top: 1px dotted #219EBC;
        border-radius: 1rem;
        padding: 10px 12px;
        transition: all 0.8s ease-in-out;
        background: black;
    }
    .services span{
      font-size: 20px;
      margin-top: 1rem;
    }
    .top {
      margin-left: 1rem;
      margin-top: 40rem;
   }
    .image-1{
          display: none;
         
        }
      
        .image-2{
        display: none;
        }

      
        }
    
        @media (max-width:450px) {
          .Header-main{
            width: 70%;      
            padding: 40px 40px;
          }
          .Header-main h1 {
           margin-top: 1rem;
            padding: 10px 2px;
          }
    
         
          .Header-main p{
            font-size: 14px;
            line-height: 20px;
          }
          .Header-main em{
            color: #6A5ACD;
            font-size: 44px;
          }
          .Header-main strong{
            color: #FB8500;
            font-size: 44px;
            
          }
          .Header-main span{
            color: #8ECAE6;
            font-size: 46px;
           
          }
          .icons{
            padding: 1px;
            margin-bottom: 3rem;
            margin-top: 12rem;
          
          }
          .services span{
            font-size: 20px;
            margin-top: 1rem;
          }
          .top {
            margin-left: 3rem;
            margin-top: 44rem;
         }
          
        }